Repository Atomic-Development/StructureBot, changes with the labels that .github/labeler.yml gives for each.
All labels: command, event, marketprovider, sde, service, util, core

Add initial pass of authentication workflow.
  commands/auth.js
  services/evesso.js
Labels: command, service

Auth function themeing and functionality.
  commands/auth.js
  package-lock.json
  package.json
  public/css/style.css
  public/img/android-chrome-192x192.png
  public/img/android-chrome-512x512.png
  public/img/apple-touch-icon.png
  public/img/eve-sso-login-black-large.png
  public/img/eve-sso-login-white-large.png
  public/img/favicon-16x16.png
  public/img/favicon-32x32.png
  public/img/favicon.ico
  public/site.webmanifest
  services/evesso.js
  structurebot.js
  views/authenticate.html
Labels: command, service, core

Serve static files.
  services/evesso.js
Labels: service

Redesign login page.
  package-lock.json
  package.json
  public/css/style.css
  views/authenticate.html
Labels: core

More style tweaks.
  public/css/style.css
  views/authenticate.html
Labels: none

Introduce MongoDB provider.
  package-lock.json
  package.json
  services/evesso.js
Labels: service, core

Fix MongoDB URL
  services/evesso.js
Labels: service

Start building multi-tenant capabilities.
  commands/auth.js
  package-lock.json
  package.json
  services/evesso.js
Labels: command, service, core

Add generic EVE Image service.
  public/css/style.css
  public/img/background.jpg
  services/eveimage.js
  services/evesso.js
  services/factionimage.js
Labels: service

Fix auth command.
  commands/auth.js
Labels: command

Styling tweaks and fix incorrect variable for Auth.
  commands/auth.js
  public/css/style.css
Labels: command

Expand templating/theme.
  package-lock.json
  public/css/uikit-rtl.css
  public/css/uikit-rtl.min.css
  public/css/uikit.css
  public/css/uikit.min.css
  public/js/uikit-icons.js
  public/js/uikit-icons.min.js
  public/js/uikit.js
  public/js/uikit.min.js
  views/authenticate.html
  views/authenticate.nunjucks
  views/base.nunjucks
  views/partials/footer.nunjucks
  views/partials/head.nunjucks
Labels: core

Finish themeing authenticate page. Add legal terms.
  public/css/style.css
  public/img/background.jpg
  public/img/skybox1.jpg
  public/img/skybox2.jpg
  public/img/skybox4.jpg
  public/img/skybox5.jpg
  services/evesso.js
  views/authenticate.nunjucks
  views/base.nunjucks
  views/pages/authenticate.nunjucks
  views/pages/legal.nunjucks
  views/partials/footer.nunjucks
Labels: service

Define file ext for templating engine.
  services/evesso.js
Labels: service

Fix legal page styling.
  public/css/style.css
  views/pages/legal.nunjucks
  views/partials/footer.nunjucks
Labels: none

Make Discord URL params optional and add warning/alert!
  services/evesso.js
  views/pages/authenticate.nunjucks
Labels: service

Fix nunjucks conditionals.
  views/pages/authenticate.nunjucks
Labels: none

Modal styling.
  public/css/style.css
  views/pages/authenticate.nunjucks
Labels: none

Add title to modal!
  views/pages/authenticate.nunjucks
Labels: none

Remove title from modal.
  views/pages/authenticate.nunjucks
Labels: none

TestWHC Requirements
  config/whcrequirements.json
  public/css/style.css
  services/evesso.js
  services/typeid.js
  views/pages/credits.nunjucks
  views/pages/whccheck.nunjucks
Labels: service

Fix WHC check example.
  services/eveimage.js
  services/evesso.js
  views/pages/whccheck.nunjucks
Labels: service

Fix eveImage service
  services/eveimage.js
Labels: service

Shema and SSO flow.
  data/schema/discord.js
  data/schema/eve.js
  data/sde/constellations.json
  data/sde/factions.json
  data/sde/regions.json
  data/sde/solarSystems.json
  package-lock.json
  package.json
  services/evesso.js
  views/pages/credits.nunjucks
  views/partials/footer.nunjucks
Labels: service, core

Finalise auth flow and database system.
  commands/auth.js
  data/schema/discord.js
  events/ready.js
  services/esiservice.js
  services/evesso.js
  structurebot.js
Labels: command, event, service, core

Fixes for auth, style updates and addchannel command.
  commands/addchannel.js
  commands/auth.js
  commands/help.js
  data/schema/discord.js
  data/schema/eve.js
  events/ready.js
  handlers/task.js
  public/css/style.css
  services/evedata.js
  services/evesso.js
  views/pages/authenticate.nunjucks
  views/pages/success.nunjucks
Labels: command, event, service

.github/labeler.yml:

command:
- commands/*
event:
- events/*
marketprovider:
- marketproviders/*
sde:
- sde/*
service:
- services/*
util:
- utils/*
core:
- ./*
